@font-face {
    font-family: 'OpenSans-Bold';
    src: url(Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url(Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(Open_Sans/OpenSans-Regular.ttf);
}